* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-bg-color: #f5f5f5;
  --secondary-bg-color: #d5d7da;
  --primary-text-color: #181d27;
  --blue-color: #1570ef;
}

.App {
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  min-height: 100vh;
}
